@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width:992px)
{
    .container-header
    {
        width: 100%;
        height: 100px;
        background-color: #525e75;
        padding:  20px 40px 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container-icon i
    {
        color: #92ba92;
        font-size: 40px;
    }
    .container-icon i:hover
    {
        color: #f1ddbf;
        
    }
    .container-navbar
    {
        width: 60%;
    }
    .navbar
    {
        display: flex;
        justify-content: space-evenly;
    }
    .navbar li
    {
        
        list-style: none;
    }
    .navbar a
    {
        text-decoration: none;
        color: #92ba92;
        font-family: "Roboto Mono", monospace;
        font-weight: bold;
        font-size: 17px;
    }
    .navbar a:hover
    {
        color: #f1ddbf;
    }
    
    .container-main
    {
        width: 100%;
        background-color: #92ba92;
        padding: 30px;
    }
    .container-acerca
    {
        display: flex;
        background-color: #525e75;
        border-radius: 15px;
        padding: 40px;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
    .texto-acerca 
    {
        text-align: end;
        width: 35%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-family: sans-serif; 
        
    }
    .texto-acerca h2
    {
        padding: 10px;
        
        color: #f1ddbf;
    } .texto-acerca p
    {
        padding: 10px;
        color: white;
    }
    .img-crop 
    {
        height: 100%;
        padding: 20px;
    }
    .img-crop img
    {
        height: 100%;
    }
    .section-carousel
    {
        
        width: 100%;
        height: 500px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-carousel
    {
        width: 100%;
        height: 400px;
        background-color: #525e75;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        
    }
    .carousel
    {
        height: 100%;
        width: 300%;
        display: flex;
        
    }
    .container-slider
    {
    width: calc(100%/3);
    
    }
    .container-slider img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .container-btns
    {
        padding: 20px;
        display: flex;
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-weight: bolder;
    }
    .container-btns i
    {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-radius: 2px;
        text-align: center;
    }
    .container-btns i:hover
    {
        
        color: #f1ddbf;
    }
    .section-works
    {
        background-color: #525e75;
        padding: 20px;
        border-radius: 15px;
        font-family: "Roboto Mono", monospace;
        margin-bottom: 40px;
    }
    .section-works > h2
    {
        padding: 20px;
        color: #f1ddbf;
    }
    .container-works
    {
        display: flex;
        justify-content: space-evenly;
    }
    .work
    {
        display: flex;
        flex-direction: column;
        width: 22.5%;
    }
    .img-crop-2
    {
        
        height: 200px;
        width: 200px;
        border-radius: 20px;
        overflow:hidden;
    }
    .work img
    {
        height: 200px;
        width: 200px;
    }
    .work h2
    {
        padding: 10px 0px 10px 0px;
        color: white;
    }
    .work p
    {
        font-size: 12px;
        padding-bottom: 20px;
        color: #92ba92;
    }
    .work a 
    {
        color: #f1ddbf;
        text-decoration: none;
       
    }
    .section-form
    {
        background-color: #525e75;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        border-radius: 15px;
    }
    .section-form h1
    {
        margin: 10px 0 10px 0;
        color: #f1ddbf;
        font-size: 30px;
    }
    .section-form p
    {
        margin: 10px 0 10px 0;
        font-style: italic;
        color: white;
    }
    .form_1
    {
        border: 1px solid grey;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 30px;
        color: #f1ddbf;

    }
    .form-part
    {
        margin-bottom: 40px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        
    }
    .form-part label
    {
        margin-right: 10px;
    }
    .form-part input[type = "text"]
    ,.form-part input[type = "email"]
    {
        background-color: #78938a;
        border: none;
        border-radius: 6px;
        width: 60%;
        padding: 5px;
        font-size: 14px;
        color: #f1ddbf;
    }
    .form-part textarea
    {
        width: 100%;
        border: 0;
        border-radius: 6px;
        min-height: 200px;
        margin-bottom: 10px;
        padding: 7px;
        resize: none;
        width: 60%;
        background-color: #f1ddbf;
        color: #525e75;
    }
    .form-part-2 button
    {
        border: none;
        background-color: #78938a;
        color: white;
        font-size: 14px;
        padding: 20px;
        border-radius: 7px;
        cursor: pointer;
    }
    .container-footer
    {
        padding: 20px;
        background-color: #78938a;
        color: #525e75;
        display: flex;
        align-items: center;
        

    }
    .container-footer h1 
    {
        padding: 20px;
    }
    .redes
    {
        margin-left: 40px;
        width: 70%;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    .redes li
    {
        margin-left: 30px;
        
    }
    .redes a
    {
        text-decoration: none;
        color: white;
    }
    .leaf-start
    {
        color: #f1ddbf;
        font-size: 40px;
        position: fixed;
        bottom: 0;
        right: 30px;
    }

}


@media screen and (max-width: 991px)
{
    
}